
<div class="col-md-5">
  <div class="panel panel-primary">
    <div class="panel-heading">Liste des comptes</div>
    <div class="panel-body autoScroll" style="height:160pt">
      <div *ngIf="!isAdmin">
        <a *ngFor="let compte of comptes | paginate:{itemsPerPage:3, currentPage:p, id:'compte-list'}" class="list-group-item list-group-action" [routerLink]=[compte.codeCompte]
        routerLinkActive="active">
          {{compte.codeCompte}}
        </a>
        <br>
        <pagination-controls id='compte-list' *ngIf="comptes && comptes.length > 3" class="page-item" (pageChange)="p=$event"></pagination-controls>
      </div>
      <div *ngIf="isAdmin">
        <form [formGroup]="getCompteForm" (ngSubmit)="chercherCompte()">
          <div class="form-group">
            <label class="form-label">Trouver un Compte :</label>
            <input list="listComptes" class="form-control" type="text" formControlName="code" placeholder="Saisir le code Compte" />
            <datalist id="listComptes">
              <option *ngFor="let codeCompte of listCodeComptes">{{codeCompte}}</option>
            </datalist>
          </div>
          <button class="btn btn-danger" type="submit">Chercher</button>
          <div *ngIf='erreur' class="alert alert-danger">
              <strong>{{erreur}}</strong>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
