<div class="panel panel-primary">
  <div class="panel-heading">Opérations sur le compte</div>
  <div class="panel-body autoScroll" style="height:160pt">
    <form [formGroup]="opForm" (ngSubmit)="sendOp()">
      <div hidden="true">
        <label class="form-label">Compte</label>
        <input formControlName="code" type="text"  class="form-control"/>
      </div>
      <div>
        <input #ver formControlName="operation" checked="checked" type="radio" value="VERS" (click)="afficheVers(ver)" />
        <label >Versement</label>
        <input #ret formControlName="operation" type="radio"  value="RETR" (click)="afficheVers(ret)"/>
        <label >Retrait</label>
        <input #vir formControlName="operation" type="radio" value="VIR" (click)="afficheVers(vir)"/>
        <label >Virement</label> 
      </div>
      <div *ngIf='isVir' class="col-3">
        <input list="listComptes" type='text' class='form-control' placeholder="chercher un compte ..." formControlName="compteDist">
          <datalist id="listComptes">
            <option *ngFor="let codeCompte of listCodeComptes | filterCodeCourant:opForm.get('code').value | filterSearch:opForm.get('compteDist').value">{{codeCompte}}</option>
          </datalist>
      </div>
      <div>
        <label class="form-label">Montant :</label>
        <input formControlName="montant" type="text" class="form-control" />
      </div>
      <br>
      <button type="submit" class="btn btn-primary">Enregistrer</button>
      <div *ngIf='erreur' class="alert alert-danger">
          <strong>{{erreur}}</strong>
      </div>
    </form>
  </div>
</div>