<nav class="navbar navbar-primary navbar-expand-md">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink='/compte'>Banque</a>
    <ul class="nav navbar-nav mr-auto">
      <li>
        <a routerLinkActive="active" routerLink="/client">Clients</a>
      </li>
      <li>
        <a  routerLinkActive="active" routerLink='/compte'>Comptes</a>
      </li>
      <li>
        <a  routerLinkActive="active" routerLink="/profil">Profil</a>
      </li>
      <li>
        <a  routerLinkActive="active" routerLink='/login'>Se déconnecter</a>
      </li>
    </ul>
  </div>
</nav>