<div class="panel panel-primary">
  <div class="panel-heading">Information sur le client</div>
  <div class="panel-body">
    <div>
        <label>Code :</label>
        <label></label>
      </div>
      <div>
        <label>Nom :</label>
        <label></label>
      </div>
      <div>
        <label>Username :</label>
        <label></label>
      </div>   
      <div>
        <label>Email :</label>
        <label></label>
      </div>                      
      <div>
        <label>Date Création :</label>
        <label></label>
      </div>
      <br>
      <div>
        <label>Comptes :</label>
        <table class="table table-striped">
            <tr>
              <th>Code</th>
              <th>Solde</th>
              <th>Date de création</th>          
            </tr>
            <tr>
              <td>Code</td>
              <td>Solde</td>
              <td>Date</td>       
            </tr>
          </table>
      </div>
      <hr>
      <button class="btn btn-danger">Ajouter un compte</button> 
  </div>
</div>