<div *ngIf='client' class="panel panel-primary">
  <div class="panel-heading">Information sur le client</div>
  <div class="panel-body">
    <div>
        <label>Code :</label>
        <label>{{client.code}}</label>
      </div>
      <div>
        <label>Nom :</label>
        <label>{{client.nom}}</label>
      </div>
      <div>
        <label>Username :</label>
        <label>{{client.username}}</label>
      </div>   
      <div>
        <label>Email :</label>
        <label>{{client.email}}</label>
      </div>                      
      <div>
        <label>Date Création :</label>
        <label>{{client.dateCreation}}</label>
      </div>
      <br>
      <div>
        <label>Comptes :</label>
        <table class="table table-striped">
            <tr>
              <th>Code</th>
              <th>Solde</th>
              <th>Date de création</th>          
            </tr>
            <tr *ngFor="let compte of client.comptes" (click)="detailsCompte(compte)">
              <td>{{compte.codeCompte}}</td>
              <td>{{compte.solde}}</td>
              <td>{{compte.dateCreation}}</td>       
            </tr>
          </table>
      </div>
      <hr>
      <div class="panel-body">
          <input type='text' [(ngModel)]='newCompte'>
          <button (click)='ajouterCompte()' class="btn btn-danger">Ajouter un compte</button> 
      </div>
      <div *ngIf="erreur" class="alert alert-danger">
          <strong>{{erreur}}</strong>
      </div>
  </div>
</div>