<div class="container">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-primary">
        <div class="panel-heading">Information sur le profil</div>
        <div class="panel-body">
          <div>
            <label>Code :</label>
            <label>{{profil.code}}</label>
          </div>
          <div>
            <label>Nom :</label>
            <label>{{profil.nom}}</label>
          </div>
          <div>
            <label>Username :</label>
            <label>{{profil.username}}</label>
          </div>   
          <div>
            <label>Email :</label>
            <label>{{profil.email}}</label>
          </div>                      
          <div>
            <label>Date Création :</label>
            <label>{{profil.dateCreation}}</label>
          </div>
          <hr>
          <button routerLink = "./edit" class="btn btn-danger">Editer</button> 
        </div>
      </div>
    </div>
  </div>