<div class="row">
    <div class="col-md-offset-1 col-md-5">
      <div class="panel panel-primary">
        <div class="panel-heading">Liste des clients</div>
        <div class="panel-body">
          <div class="form-group">
            <input type="text" placeholder="Chercher un client" [(ngModel)]="searchClient"/>
          </div>
        </div>
        <div class="panel-body autoScroll" style="height:230pt" >
          <table class="table table-striped" >
            <tr>
              <th>Code</th>
              <th>Nom</th>
              <th>Username</th>            
            </tr>
              <tr *ngFor="let client of clients | filterClient:searchClient | paginate:{itemsPerPage:5, currentPage:page, id:'client-list'}"  (click)='getClientDetails(client)' routerLinkActivate='active'>
                <td>{{client.code}}</td>
                <td>{{client.nom}}</td>
                <td>{{client.username}}</td>            
              </tr>
          </table>
          <pagination-controls id="client-list" *ngIf="clients && clients.length > 5" class="page-item" (pageChange)="page=$event"></pagination-controls>
        </div>
      </div> 
      <div class="panel panel-primary"> 
        <div class="panel-heading">Ajout d'un nouveau profil</div>
        <div class="panel-body">
            <button (click)='createAdmin()' class="btn btn-danger">Nouveau Admin</button>
          <button (click)='createClient()' class="btn btn-danger">Nouveau client</button> 
      </div>
    </div> 
  </div>  
  <div class="col-md-5">
    <app-client-detail></app-client-detail>
  </div>  
</div>