<div class="container">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-primary">
        <div class="panel-heading">Ajouter un nouveau Client</div>
        <div class="panel-body">
          <form>
            <div class="form-group">
              <label class="form-label">Nom:</label>
              <input class="form-control" type="text" name="nom" required/>
            </div>
            <div class="form-group">
              <label class="form-label">Username:</label>
              <input class="form-control" type="text" name="username" required/>
            </div>   
            <div class="form-group">
              <label class="form-label">Email:</label>
              <input class="form-control" type="text" name="email" required/>
            </div>                         
            <div class="form-group">
              <label class="form-label">Mot de passe:</label>
              <input class="form-control" type="password" name="password" required/>
            </div>
            <div class="form-group">
              <label class="form-label">Confirmer le mot de passe:</label>
              <input class="form-control" type="password" name="passwordConf" required/>
            </div>              
            <button type="submit" class="btn btn-danger">Ajouter</button>
          </form>
        </div>
      </div>
    </div>
  </div>